body {
  font-family: "Quicksand", sans-serif;
}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.login .form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.login .form-container .logo {
  width: 70px;
  height: 70px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
@media (max-width: 640px) {
  .login .form-container .logo {
    display: block;
  }
}
.login .form-container .title {
  font-size: 16px;
  margin-bottom: 22px;
  text-align: center;
}
.login .form-container .subtitle {
  color: #C7C7C7;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.login .form-container .form {
  display: flex;
  flex-direction: column;
}
.login .form-container .form .label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.login .form-container .form .input {
  background-color: #F7F7F7;
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 12px;
}
.login .form-container .form .input-email {
  margin-bottom: 22px;
}
.login .form-container .form .input-password {
  margin-bottom: 22px;
}
.login .form-container .form .primary-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.login .form-container .secondary-button {
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
  height: 50px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
.login .form-container .login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
.login .form-container a {
  color: #ACD9B2;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 52px;
}

.menu {
  display: none;
}
@media (max-width: 640px) {
  .menu {
    display: block;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #C7C7C7;
  margin-bottom: 30px;
}
nav .navbar-left {
  display: flex;
}
nav .navbar-left .logo {
  width: 60px;
  height: 60px;
}
nav .navbar-left ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
@media (max-width: 640px) {
  nav .navbar-left ul {
    display: none;
  }
}
nav .navbar-left ul li a {
  text-decoration: none;
  color: #C7C7C7;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 8px;
}
nav .navbar-left ul li a:hover {
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
  border-radius: 5px;
}
nav .navbar-right ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}
nav .navbar-right ul .navbar-email {
  color: #C7C7C7;
  font-size: 14px;
  margin-right: 12px;
}
@media (max-width: 640px) {
  nav .navbar-right ul .navbar-email {
    display: none;
  }
}
nav .navbar-right ul .cart-img {
  width: 40px;
  height: 40px;
}
nav .navbar-right ul .nabvar-shopping-cart {
  position: relative;
}
nav .navbar-right ul .nabvar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: #ACD9B2;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .navbar-right ul li a {
  text-decoration: none;
  color: #C7C7C7;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  padding: 8px;
}
nav .navbar-right ul li a:hover {
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
  border-radius: 5px;
}

.desktop-menu {
  width: 100px;
  height: auto;
  border: 1px solid #C7C7C7;
  border-radius: 5px;
  padding: 20px 20px 0 20px;
  display: none;
}
.desktop-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li {
  text-align: end;
}
.desktop-menu ul li a {
  color: #123123;
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
  font-weight: bold;
}
.desktop-menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid #C7C7C7;
}
.desktop-menu ul li:last-child a {
  color: #ACD9B2;
  font-size: 14px;
}

.mobile-menu {
  padding: 24px;
  display: none;
}
.mobile-menu ul {
  padding: 0;
  margin: 24px 0 0;
  list-style: none;
}
.mobile-menu ul li {
  margin-bottom: 24px;
}
.mobile-menu ul:nth-child(1) {
  border-bottom: 1px solid #C7C7C7;
}
.mobile-menu ul:nth-child(3) {
  margin-top: 100px;
}
.mobile-menu a {
  text-decoration: none;
  color: #123123;
  font-weight: bold;
}
.mobile-menu .email {
  font-size: 14px;
  font-weight: 300 !important;
}
.mobile-menu .sign-out {
  font-size: 14px;
  color: #ACD9B2 !important;
}

.main-container .cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 26px;
  place-content: center;
}
@media (max-width: 640px) {
  .main-container .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
  }
}
.main-container .cards-container .product-card {
  width: 240px;
}
@media (max-width: 640px) {
  .main-container .cards-container .product-card {
    width: 140px;
  }
}
.main-container .cards-container .product-card img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}
@media (max-width: 640px) {
  .main-container .cards-container .product-card img {
    width: 140px;
    height: 140px;
  }
}
.main-container .cards-container .product-card .product-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}
.main-container .cards-container .product-card .product-info figure img {
  width: 25px;
  height: 25px;
}
.main-container .cards-container .product-card .product-info div p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 4px;
}
.main-container .cards-container .product-card .product-info div p:nth-child(2) {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 0;
  color: #C7C7C7;
}

.product-details {
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
}
@media (max-width: 640px) {
  .product-details {
    width: 100%;
  }
}
.product-details .product-details-close {
  top: 12px;
  left: 12px;
  width: 14px;
  height: 14px;
  background-color: #FFFFFF;
  z-index: 2;
  padding: 12px;
  border-radius: 50%;
}
.product-details .product-details-close:hover {
  cursor: pointer;
}
.product-details > img:nth-child(2) {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 0 0 20px 20px;
}
.product-details .product-info {
  margin: 24px 24px 0 24px;
}
.product-details .product-info p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 4px;
}
.product-details .product-info p:nth-child(2) {
  font-size: 16px;
  color: #C7C7C7;
  margin-top: 0;
  margin-bottom: 36px;
}
.product-details .product-info p:nth-child(3) {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 0;
  margin-bottom: 36px;
}
.product-details .product-info .add-to-cart-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-ordenes {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.my-ordenes .my-ordenes-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.my-ordenes .my-ordenes-container .title {
  font-size: 16px;
  margin-bottom: 40px;
}
.my-ordenes .my-ordenes-container .my-order-content {
  display: flex;
  flex-direction: column;
}
.my-ordenes .my-ordenes-container .my-order-content .order {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 16px;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 8px;
}
.my-ordenes .my-ordenes-container .my-order-content .order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.my-ordenes .my-ordenes-container .my-order-content .order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.my-ordenes .my-ordenes-container .my-order-content .order p span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.my-ordenes .my-ordenes-container .my-order-content .order p span:nth-child(2) {
  font-size: 14px;
  color: #C7C7C7;
}
.my-ordenes .my-ordenes-container .my-order-content .order img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.cart-details {
  box-sizing: border-box;
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
  padding: 24px;
}
@media (max-width: 640px) {
  .cart-details {
    width: 100%;
  }
}
.cart-details .title-container {
  display: flex;
}
.cart-details .title-container .title {
  font-size: 16px;
  font-weight: bold;
}
.cart-details .title-container img {
  margin-top: 16px;
  width: 20px;
  height: 20px;
  margin-right: 14px;
}
@media (max-width: 640px) {
  .cart-details .my-cart-content .product-detail {
    width: 100%;
  }
}
.cart-details .my-cart-content .shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.cart-details .my-cart-content .shopping-cart figure {
  margin: 0;
}
.cart-details .my-cart-content .shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.cart-details .my-cart-content .shopping-cart p span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.cart-details .my-cart-content .shopping-cart p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.cart-details .my-cart-content .shopping-cart p:nth-child(3) {
  text-align: end;
  font-weight: bold;
}
.cart-details .my-cart-content .order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 8px;
  padding: 0 24px;
}
.cart-details .my-cart-content .order p span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.cart-details .my-cart-content .order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.cart-details .my-cart-content .order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.cart-details .my-cart-content .primary-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}

.enviado {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.enviado .enviado-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  justify-items: center;
}
.enviado .enviado-container .logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.enviado .enviado-container .title {
  font-size: 16px;
  margin-bottom: 12px;
  text-align: center;
}
.enviado .enviado-container .subtitle {
  color: #C7C7C7;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.enviado .enviado-container .enviado-image {
  width: 132px;
  height: 132px;
  border-radius: 50%;
  background-color: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
.enviado .enviado-container .enviado-image img {
  width: 80px;
}
.enviado .enviado-container .resend {
  font-size: 14px;
}
.enviado .enviado-container .resend span {
  color: #C7C7C7;
}
.enviado .enviado-container .resend a {
  color: #ACD9B2;
  text-decoration: none;
}
.enviado .enviado-container .primary-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enviado .enviado-container .login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .enviado .enviado-container .logo {
    display: block;
  }
}

.micuenta {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.micuenta .form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.micuenta .form-container .logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.micuenta .form-container .title {
  font-size: 16px;
  margin-bottom: 36px;
  text-align: start;
}
.micuenta .form-container .form {
  display: flex;
  flex-direction: column;
}
.micuenta .form-container .form div {
  display: flex;
  flex-direction: column;
}
.micuenta .form-container .label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.micuenta .form-container .value {
  color: #C7C7C7;
  font-size: 16px;
  margin: 8px 0 32px 0;
}
.micuenta .form-container .secondary-button {
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}
.micuenta .form-container .login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .micuenta .form-container {
    height: 100%;
  }
  .micuenta .form {
    height: 100%;
    justify-content: space-around;
  }
}

.my-order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.my-order .my-order-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.my-order .my-order-container .title {
  font-size: 16px;
  margin-bottom: 40px;
}
.my-order .my-order-container .my-order-content {
  display: flex;
  flex-direction: column;
}
.my-order .my-order-container .my-order-content .order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: #F7F7F7;
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.my-order .my-order-container .my-order-content .order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.my-order .my-order-container .my-order-content .order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.my-order .my-order-container .my-order-content .order p span:nth-child(1) {
  font-size: 16px;
  font-weight: bold;
}
.my-order .my-order-container .my-order-content .order p span:nth-child(2) {
  font-size: 14px;
  color: #C7C7C7;
}
.my-order .my-order-container .my-order-content .shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.my-order .my-order-container .my-order-content .shopping-cart figure {
  margin: 0;
}
.my-order .my-order-container .my-order-content .shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
}
.my-order .my-order-container .my-order-content .shopping-cart p:nth-child(2) {
  color: #C7C7C7;
}
.my-order .my-order-container .my-order-content .shopping-cart p:nth-child(3) {
  font-size: 16px;
  font-weight: bold;
}

.psswrd {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}
.psswrd .form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.psswrd .form-container .logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.psswrd .form-container .title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}
.psswrd .form-container .form {
  display: flex;
  flex-direction: column;
}
.psswrd .form-container .form div {
  display: flex;
  flex-direction: column;
}
.psswrd .form-container .label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.psswrd .form-container .input {
  background-color: #F7F7F7;
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: 16px;
  padding: 6px;
  margin-bottom: 12px;
}
.psswrd .form-container .input-name,
.psswrd .form-container .input-email,
.psswrd .form-container .input-password {
  margin-bottom: 22px;
}
.psswrd .form-container .primary-button {
  background-color: #ACD9B2;
  border-radius: 8px;
  border: none;
  color: #FFFFFF;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
}
.psswrd .form-container .login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
@media (max-width: 640px) {
  .psswrd .form-container {
    height: 100%;
  }
  .psswrd .form {
    height: 100%;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
